<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <h1>Skills</h1>
      <h2>Skill #<%= skill._id %></h2>
      <a href="/skills/<%= skill._id %>/edit">Edit</a>
      <h3><%= skill.text %></h3>
      <h4><%= skill.dateStarted %></h4>
      <p>Mastered: <%= skill.mastery ? 'yes' : 'no'%></p>
      <a href="/skills">Go back</a>
</body>
</html>